<!-- <div class="container py-4 d-flex align-items-center justify-content-center">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Keyword</label>
      <input
        (change)="searchByKey($event)"
        type="text"
        class="form-control"
        placeholder="Enter Keyword"
      />
    </div>

  </form>
</div> -->

<form
  (ngSubmit)="SubmitForm()"
  [formGroup]="exform"
  class="example position-relative d-flex my-3"
  action="/action_page.php"
  style="margin: auto; max-width: 900px"
>
  <!-- <ejs-multiselect
    height="50px"
    formControlName="Category"
    id="multiselectelement"
    [dataSource]="categories"
    width="200"
    popupHeight="500"
    [placeholder]="placeholder"
  ></ejs-multiselect> -->

  <ejs-multiselect
    formControlName="Category"
    id="multiselectelement"
    [dataSource]="categories"
    placeholder="Select Maker"
    popupHeight="500"
    [placeholder]="placeholder"
    (keyup)="getCategoriesByValue($event)"
    #samples2
  ></ejs-multiselect>

  <input
    type="text"
    formControlName="Query"
    placeholder="Search.."
    class="search"
    name="search2"
    (keyup)="searchBykey($event)"
  />

  <div class="suggestyions" *ngIf="suggestions && showSuggestions === true">
    <ul>
      <li
        *ngFor="let suggestion of suggestions"
        (click)="suggestHandler(suggestion)"
      >
        {{ previousValue }} {{ suggestion }}
      </li>
    </ul>
  </div>

  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="container">
  <div class="w-100 d-flex flex-wrap Badges">
    <span *ngFor="let badge of categories"
      ><ejs-chiplist [text]="badge"></ejs-chiplist
    ></span>
  </div>
  <table class="table table-hover w-100">
    <thead>
      <tr>
        <th>COO</th>

        <th>COO Name</th>

        <th>Catalog Page</th>

        <th>Category</th>

        <th>Customer Price</th>
        <th>MSDS Indicator</th>
        <th>Mfg Name</th>
        <th>Mfg Part Number</th>

        <th>Part Number</th>
        <th>Short Description</th>
        <th>UOM Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of searchResult">
        <td>{{ item.COO }}</td>
        <td>{{ item.COOName }}</td>
        <td>{{ item.CatalogPage }}</td>
        <td>{{ item.Category }}</td>
        <td>{{ item.CustomerPrice }}</td>
        <td>{{ item.MSDSIndicator }}</td>
        <td>{{ item.MfgName }}</td>
        <td>{{ item.MfgPartNumber }}</td>
        <td>{{ item.PartNumber }}</td>
        <td>{{ item.ShortDescription }}</td>
        <td>{{ item.UOMName }}</td>
      </tr>
    </tbody>
  </table>
</div>
